---
import Typed from '../Typed.jsx';

const { backgroundImage, strings } = Astro.props;
---

<section class="w-full flex flex-col gap-8 mb-16 sm:mb-24">
    <div class="hero hero__bg w-full max-w-[980px] mx-auto aspect-[16/9]" style={`--bg-url: url('${backgroundImage}')`}>
        <div class="hero__content h-full max-w-[800px] mx-auto flex flex-col justify-center items-center text-center">
            <Typed strings={strings} client:load />
        </div>
    </div>
</section>

<style>
    .hero__bg {
        position: relative;
    }

    .hero__bg::before {
        z-index: -1;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: var(--bg-url);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5;
        border-radius: 45px;
        filter: grayscale(100%);
    }
</style>
