<section class="w-full flex flex-col gap-8 mb-16 sm:mb-24">
    <div class="hero hero__bg w-full max-w-[980px] mx-auto aspect-[16/9]">
        <div class="hero__content h-full max-w-[800px] mx-auto flex flex-col justify-center items-center text-center">
            <div id="typejs" class="text-4xl font-bold"/>
        </div>
    </div>
</section>

<style>
    .hero__bg {
        position: relative;
    }

    .hero__bg::before {
        z-index: -1;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url('/images/kobe.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5;
        border-radius: 45px;
        filter: grayscale(100%);
    }
</style>

<script>
    import typedjs from 'typed.js';
    const type = () => {
       const options = {
        strings: ['I don\'t know what this can do, so I\'ll just leave it here for now', 'syb'],
        typeSpeed: 30,
        startDelay: 300,
        loop: true,
        showCursor: false,
        backSpeed:20
        };
        const typed = new typedjs('#typejs', options);
        typed.start();
    };
    type();
</script>
