---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="testimonials">
  <div>
    <SectionTitle
      sectionTitle="Message Wall"
      description="In Loving Memory: Share Your Heartfelt Tributes and Cherished Moments to Honor a Precious Life"
    />
    <div class="rounded-[45px] bg-dark mb-[50px] text-gray">
      <SwiperSlider />
    </div>
  </div>
</Section>
