---
import TimeLineCard from "../ui/TimeLineCard.astro";
import p1 from "../../assets/team/1.png";
import p2 from "../../assets/team/2.png";
import p3 from "../../assets/team/3.png";
import p4 from "../../assets/team/4.png";
import p5 from "../../assets/team/5.png";
import p6 from "../../assets/team/6.png";
const pics = [
  {
    id: 1,
    picture: p1,
    title: "Early growth",
    description:
      "Kobe Bryant was born in Philadelphia on August 23, 1978. At the age of 6, Bryant went to Italy with his father, where he practiced basketball skills. After returning home in 1991, Bryant attended Lower Merion High School. Bryant skipped college to enter the 1996 NBA draft and was selected 13th overall by the Hornets before being traded to the Lakers to start his career.",
    time: "1978.8",
  },
  {
    id: 2,
    picture: p2,
    title: "The First Three Championships",
    description:
      "Bryant and O 'Neal formed a powerful combination to help the Lakers win three consecutive championships from 2000 to 2002. Bryant's scoring, defense and key performance in the game contributed to the championship.",
    time: "2002.6",
  },
  {
    id: 3,
    picture: p3,
    title: "Beijing Olympics",
    description:
      "In the 2008 Beijing Olympics, Kobe was selected for the U.S. men's basketball team, known as the Dream Team VIII. With his rich experience and leadership skills, he led the team to overcome all obstacles and eventually won the gold medal, showcasing the strength of American basketball to the world.",
    time: "2008.8",
  },
  {
    id: 4,
    picture: p4,
    title: "Renewed Glory",
    description:
      "After Shaquille O'Neal left the Lakers in 2004, Kobe took on the leadership of the team alone. In 2008, he was named the NBA MVP of the regular season and led the Lakers to the NBA Finals, but unfortunately, they lost. However, in 2009 and 2010, Kobe led the Lakers to win two more championships and was named the Finals MVP for two consecutive years.",
    time: "2010.6",
  },
  {
    id: 5,
    picture: p5,
    title: "Retirement",
    description:
      "In November 2015, Kobe announced that he would retire at the end of the 2015-2016 season. On April 13, 2016, in his last career game, he scored 60 points, leading the Lakers to victory and making a perfect farewell.",
    time: "2016.4",
  },
  {
    id: 6,
    picture: p6,
    title: "Tragic Passing",
    description:
      "On January 26, 2020, Kobe's helicopter crashed near Calabasas, California. All nine people on board, including Kobe and his 13-year-old daughter Gianna, were killed. Kobe was only 41 years old at the time. His passing shocked the world, but his fighting spirit will always inspire future basketball players.",
    time: "2020.1",
  },
];
---

<section class="flex flex-col pt-16 pb-20 gap-16 mx-auto justify-center items-center text-center max-w-[900px] shadow-xl rounded-2xl" id="timeLine" >
    <div class="relative flex flex-col gap-20 px-10" >
        {pics.map((pic) => <TimeLineCard {...pic} />)}
        <div
            class="absolute left-0 border-l-[1px] h-full z-[-1] border-dashed border-light-gray-secondary dark:border-dark-gray-secondary sm:left-[50%]"
        >
        </div>
    </div>
</section>
<script>
    const $accordionButtons = document.querySelectorAll(".accordion-button");
    $accordionButtons.forEach((btn) => {
        btn.addEventListener("click", (event) => {
            const accordionId = event.currentTarget.getAttribute("data-target");
            const $accordion = document.getElementById(accordionId);
            $accordion.classList.toggle("expanded");
            event.currentTarget.classList.toggle("expanded");
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        // Select all image elements inside .job-picture
        const images = document.querySelectorAll('.job-picture img');

        // Loop through each image and add a click event listener
        images.forEach(img => {
            img.addEventListener('click', function () {
                // If the clicked image already has the .enlarged class, remove it
                if (this.classList.contains('enlarged')) {
                    this.classList.remove('enlarged');
                    this.parentElement.parentElement.classList.remove('enlarged');
                    this.parentElement.parentElement.style.marginBottom='';
                } else {
                    images.forEach(image => image.classList.remove('enlarged'));
                    images.forEach(image => image.parentElement.parentElement.classList.remove('enlarged'));
                    images.forEach(image => image.parentElement.parentElement.style.marginBottom='');
                    // Otherwise, toggle the .enlarged class to enlarge it
                    this.classList.add('enlarged');
                    this.parentElement.parentElement.classList.add('enlarged');
                    const calculatedHeight = this.parentElement.parentElement.getAttribute('data-calculated-height');
                    this.parentElement.parentElement.style.marginBottom=`${calculatedHeight}px`;
                }
            });
        });
    });
</script>
