---
const {id} = Astro.props;
import SectionTitle from "../../components/ui/SectionTitle.astro";
import SwiperSlider from "../../components/ui/SwiperSlider.astro";
import Section from "../../components/sections/Section.astro";
import MessageForm from '../../components/jsx/MessageForm.jsx';
import { apiRequest } from '../../utils/api';
const items= await apiRequest(
        `/memorialMessage/${id}`,
        "GET",
        {},
      )|| [];
---

<Section id="testimonials">
    <SectionTitle
      sectionTitle="Message Wall"
      description="Share Your Heartfelt Tributes and Cherished Moments to Honor a Precious Life"
    />
  <div class="rounded-[45px] bg-dark mb-5 text-gray">
      <SwiperSlider items={items}/>
  </div>
    <MessageForm client:load id={id}/>
</Section>
