---
import MainLayout from "../layouts/MainLayout.astro";
import Admin from "../components/sections/Administration.astro";
import { apiRequest } from '../utils/api';
const response = await apiRequest("/current", "POST", {}, Astro);
if(!response.is_admin){
    return Astro.redirect('/404');
}
---

<MainLayout title="Services">
	<main class="space-y-20">
        <div class="py-0.5" />
        <Admin/>
	</main>
</MainLayout>