---
import MainLayout from "../layouts/MainLayout.astro";
import AboutCard from "../components/sections/AboutCard.astro";
import Oblation from "../components/sections/Oblation.astro";
import MountainPhysics from "../components/sections/MountainPhysics.astro";
import Relationship from "../components/sections/Relationship.astro";
import Testimonials from "../components/sections/Testimonials.astro";

const testimonialContent = {
  enable: true,
  title: "## Client Experiences",
  description: "_Voices from our community_",
  testimonials: [
    {
      avatar: "/images/oblation1.png",
      name: "Wreath"
    },
    {
      avatar: "/images/oblation2.png",
      name: "Heaven Money"
    },
    {
      avatar: "/images/oblation3.png",
      name: "Incense"
    },
    {
      avatar: "/images/oblation4.png",
      name: "Dessert"
    },
    {
      avatar: "/images/oblation5.png",
      name: "Tribute Meat"
    },
    {
      avatar: "/images/oblation6.png",
      name: "Liquor"
    }
  ]
}
const sampleItems = [
  { image: '/images/oblation1.png', count: 100234 },
  { image: '/images/oblation2.png', count: 140 },
  { image: '/images/oblation3.png', count: 2170 },
];
---

<MainLayout title="Services">
	<main class="space-y-20">
        <div class="py-0.5" />
        <div class="hajimi">
          <div class="hajimi-1">
            <MountainPhysics items={sampleItems} />
          </div>
          <div class="absolute left-0 rounded-[24px] w-1/2 h-[300px] top-1/2 -translate-y-1/2 bg-white/85 z-[1] transition-all">
          </div>
          <div class="hajimi-2">
            <AboutCard />
          </div>
        </div>
      <div class="flex justify-center">
        <button
          onclick="window.dropCircle('/images/oblation4.png')"
          class="btn-primary items-center mb-10"
        >
          Drop a Circle
        </button>
      </div>
        <Oblation testimonialData={testimonialContent} />
        <Relationship />
        <Testimonials />
	</main>
</MainLayout>

<style>
 .hajimi {
    display: grid; 
    margin: 0 auto; 
    position: relative; 
    width: 100%; 
    height: 600px;
 }

 .hajimi-1 {
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
 }

 .hajimi-2 {
    grid-area: 1/1;
    pointer-events: none;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
 }
</style>