---
import MainLayout from "../layouts/MainLayout.astro";
import Contact from "../components/sections/Contact.astro";
import { apiRequest } from '../utils/api';
const response = await apiRequest("/current", "POST", {}, Astro);
if(response){
    return Astro.redirect('/');
}
---

<MainLayout title="Services">
	<main class="space-y-20">
        <div class="py-0.5" />
        <Contact />
	</main>
</MainLayout>