---
import MainLayout from "../layouts/MainLayout.astro";
import Contact from "../components/sections/Contact.astro";
---

<MainLayout title="Services">
	<main class="space-y-20">
        <div class="py-0.5" />
        <Contact />
	</main>
</MainLayout>