---
import MainLayout from "../layouts/MainLayout.astro";
import Profile from "../components/sections/Profile.astro";
import Sponsors from "../components/sections/Sponsors.astro";
import Services from "../components/sections/Services.astro";
---

<MainLayout title="About us">
	<main class="space-y-20">
        <div class="py-0.5" />
        <Profile />
	</main>
</MainLayout>