---
import MainLayout from "../layouts/MainLayout.astro";
import Repos from "../components/sections/Repository.astro";
---

<MainLayout title="Services">
	<main class="space-y-20">
        <div class="py-0.5" />
        <Repos />
	</main>
</MainLayout>